&axi_ethernet_0 {
    local-mac-address = [70 b3 d5 ec 20 00];
    phy-handle = <&phy0>;
    xlnx,has-mdio = <0x1>;
    phy-mode = "gmii";
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy0: phy@1 {
            device_type = "ethernet-phy";
            xlnx,phy-type = <0x5>;
            reg = <1>;
        };
    };
};

&axi_ethernet_1 {
    local-mac-address = [70 b3 d5 ec 20 01];
    phy-handle = <&phy1>;
    xlnx,has-mdio = <0x1>;
    phy-mode = "gmii";
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy1: phy@1 {
            device_type = "ethernet-phy";
            xlnx,phy-type = <0x5>;
            reg = <1>;
        };
    };
};

/*
&axi_ethernet_2 {
    local-mac-address = [70 b3 d5 ec 20 02];
    phy-handle = <&phy2>;
    xlnx,has-mdio = <0x1>;
    phy-mode = "gmii";
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy2: phy@1 {
            device_type = "ethernet-phy";
            xlnx,phy-type = <0x5>;
            reg = <1>;
        };
        phy12: phy@2 {
            device_type = "ethernet-phy";
            xlnx,phy-type = <0x5>;
            reg = <2>;
        };
    };
};

&axi_ethernet_3 {
    local-mac-address = [70 b3 d5 ec 20 03];
    phy-handle = <&phy3>;
    xlnx,has-mdio = <0x1>;
    phy-mode = "gmii";
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy3: phy@1 {
            device_type = "ethernet-phy";
            xlnx,phy-type = <0x5>;
            reg = <1>;
        };
        phy13: phy@2 {
            device_type = "ethernet-phy";
            xlnx,phy-type = <0x5>;
            reg = <2>;
        };
    };
};
*/
&axi_ethernet_4 {
    local-mac-address = [70 b3 d5 ec 20 04];
    phy-handle = <&phy4>;
    xlnx,has-mdio = <0x1>;
    phy-mode = "gmii";
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy4: phy@1 {
            device_type = "ethernet-phy";
            xlnx,phy-type = <0x5>;
            reg = <1>;
        };
    };
};

&axi_ethernet_5 {
    local-mac-address = [70 b3 d5 ec 20 05];
    phy-handle = <&phy5>;
    xlnx,has-mdio = <0x1>;
    phy-mode = "gmii";
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy5: phy@1 {
            device_type = "ethernet-phy";
            xlnx,phy-type = <0x5>;
            reg = <1>;
        };
        phy15: phy@2 {
            device_type = "ethernet-phy";
            xlnx,phy-type = <0x5>;
            reg = <2>;
        };
    };
};
